
body {
    display: flex;
    flex-direction: row;
}

.header-menu {
    background-color: darkslateblue;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    width: 20%;
    padding: 2%;
    text-align: center;
    white-space: nowrap ;
}

.header-menu img {
    width: 70%;
    border-radius: 25%;
    align-self: center;
    margin: 2%;
}

.header-menu--link {
    margin: 3%;
    font-size: 1.3rem;
    border-bottom: solid white 0.1rem;
    text-align: right;
}

.details {
    display: flex;
    flex-direction: column;
}